.avatar {
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.flag
{
    transform: scale(2);
}

.info{
    color: black;
    font-size: 150%;
    padding: 10px;
    background: white;
    /* border-radius: 50%; */
    width: 30%;
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}